Default ISR cache headers not standards-compliant

### What version of Next.js are you using?

10.0.1

### What version of Node.js are you using?

14.7.0

### What browser are you using?

any/all

### What operating system are you using?

any/all

### How are you deploying your application?

next start (behind a non-vercel CDN)

### Describe the Bug

The default header style for pages in Next is
```
Cache-Control: s-maxage=[number]; stale-while-revalidate
```

The `stale-while-revalidate` cache extension is defined in [RFC 5861, section 3](https://datatracker.ietf.org/doc/html/rfc5861#section-3) with the grammar
```
stale-while-revalidate = "stale-while-revalidate" "=" delta-seconds
```

There is no definition of what the header should do if no `delta-seconds` value is supplied, and thus most caches the header interacts with will fall back on [RFC 7234, section 5.2.3](https://datatracker.ietf.org/doc/html/rfc7234#section-5.2.3), which says that
>    The Cache-Control header field can be extended through the use of one
>   or more cache-extension tokens, each with an optional value.  A cache
>   MUST ignore unrecognized cache directives.

As such, unless the cache being used in front of a next.js app in the default ISR configuration has specific custom handling of this case, the s-w-r directive will be ignored and not achieve the desired result.
In the case where the cache does handle this directive, the behaviour is not well defined -- I could see arguments and decision trss for such a directive might be equivalent to `s-w-r=1` or `s-w-r=infinity`.

### Expected Behaviour

Given that we expect stale revalidation to be used by CDN caches in front of next.js apps, a max stale age should be specified as part of the directive.
This should be one of:
 - an additional configuration options, such as how a page's max-age is currently defined
 - a fixed value, representing the expected behaviour the Next.js devs were envisioning
 - a derived value, some multiplier of the max-age

### To Reproduce

You can observe this on any ISR build. Steps for a trivial app are provided.
```sh
mkdir swr-issue
npx create-next-app .
curl https://gist.githubusercontent.com/javajawa/58fb2d37a1eb2b636e29e68475f63b51/raw/e60f9ca3d38d273f9463d25856c93bb6618a6e5c/next-issue.js > pages/index.js
npm run build
npm start
```

When loading in a browser, you will see the non-compliant header.

Please verify that your issue can be recreated with `next@canary`.

### **Why was this issue marked with the `please verify canary` label?**

We noticed the provided reproduction was using an older version of Next.js, instead of `canary`.

The canary version of Next.js ships daily and includes all features and fixes that have not been released to the stable version yet. You can think of canary as a _public beta_. Some issues may already be fixed in the canary version, so please verify that your issue reproduces by running `npm install next@canary` and test it in your project, using your reproduction steps.

If the issue does not reproduce with the `canary` version, then it has already been fixed and this issue can be closed.

### **How can I quickly verify if my issue has been fixed in `canary`?**

The safest way is to install `next@canary` in your project and test it, but you can also search through [closed Next.js issues](https://github.com/vercel/next.js/issues?q=is%3Aissue+is%3Aclosed) for duplicates or check the [Next.js releases](https://github.com/vercel/next.js/releases).

### **My issue has been open for a long time, why do I need to verify `canary` now?**

Next.js does not backport bug fixes to older versions of Next.js. Instead, we are trying to introduce only a minimal amount of breaking changes between major releases.

### **What happens if I don't verify against the canary version of Next.js?**

An issue with the `please verify canary` that receives no meaningful activity (e.g. new comments that acknowledge verification against `canary`) will be automatically closed and locked after 30 days.

If your issue has not been resolved in that time and it has been closed/locked, please open a new issue, with the required reproduction, using `next@canary`.

### **I did not open this issue, but it is relevant to me, what can I do to help?**

Anyone experiencing the same issue is welcome to provide a minimal reproduction (following the above steps). Furthermore, you can upvote the issue (using the :+1: reaction on the topmost comment, instead of commenting "I have the same issue" etc.). Then, we can sort issues by engagement to prioritize.

### **I think my reproduction is good enough, why aren't you looking into it quicker?**

We look into every Next.js issue and constantly monitor open issues for new comments.

However, sometimes we might miss one or two due to the popularity/high traffic of the repository. We apologize, and kindly ask you to refrain from tagging core maintainers, as that will usually not result in increased priority.

Upvoting issues to show your interest will help us prioritize and address them as quickly as possible. That said, every issue is important to us, and if an issue gets closed by accident, we encourage you to open a new one linking to the old issue and we will look into it.

### **Useful Resources**

- [How to Contribute to Open Source (Next.js)](https://www.youtube.com/watch?v=cuoNzXFLitc)
- [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)
- [Reporting a Next.js bug](https://github.com/vercel/next.js/blob/canary/.github/ISSUE_TEMPLATE/1.bug_report.yml)
- [Next.js Triaging issues](https://github.com/vercel/next.js/blob/canary/contributing/repository/triaging.md)

This issue has been automatically closed because it wasn't verified against next@canary. If you think it was closed by accident, please leave a comment. If you are running into a similar issue, please open a new issue with a reproduction. Thank you.