Router is altering parameters that contain the symbol "+"

### What version of Next.js are you using?

11.10

### What version of Node.js are you using?

16.10

### What browser are you using?

Chrome

### What operating system are you using?

macOs

### How are you deploying your application?

Vercel

### Describe the Bug

I have a url that is receiving as a parameter a string encoded in base64 (the content is encrypted), example:
**localhost:3000/auth=1ix+W9U3uDH2FFmVbPqaZ8+N7Zn/KitwnUScn5X/+OU=**

But when I get the parameters using **router.query** the "+" symbols are replaced by blank spaces.

Example logging router.query with console.log:

![image](https://user-images.githubusercontent.com/82058015/138345062-12f43abc-b9ec-456e-9704-aa00d040abba.png)


### Expected Behavior

I hope to get the parameter as it is in the url


### To Reproduce

Enter as a parameter in any url a string containing texts separated by the symbol "+" and then obtain the parameter using router.query

@steveadams is right here. Technically, `+` is considered a _reserved character_ as per [RFC 3986 section 2.2 Reserved Characters (January 2005)](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) that states that:

> URI producing applications should percent-encode data octets that correspond to characters in the reserved set...

As such, what you can do is instead use the [`encodeURIComponent()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent) method to encode the `auth` parameter, thereby generating the string that was shared above.