Hi @nphmuller --

I believe this is happening because you're unconditionally setting `"from-middleware"` cookie on _every_ request, including those that are part of the revalidation that the server action performs. Technically the last cookie set is still winning in this case, it just so happens that middleware is last in this case, because the server action is performed and then a request to a static resource is made `the layout.css` file which also updates the cookie.

Can you clarify how representative of this use-case? It seems like it'd be worthwhile to slim down the paths that can trigger this cookie in middleware. ie, using the default matcher suggested in the Next.js middleware docs solves the issue for me in your repro:

```js
export const config = {
  matcher: [
    /*
     * Match all request paths except for the ones starting with:
     * - api (API routes)
     * - _next/static (static files)
     * - _next/image (image optimization files)
     * - favicon.ico, sitemap.xml, robots.txt (metadata files)
     */
    '/((?!api|_next/static|_next/image|favicon.ico|sitemap.xml|robots.txt).*)',
  ],
}
```

https://github.com/user-attachments/assets/a94daf4e-13ac-447f-9e21-76e212b1ff10

Hi @ztanner - Thanks for the quick response!!

Sadly that doesn't help. My production case is this:

I use next-auth, which renews the session cookie via calling auth() in the middleware.
On my page there's also a log off button, which clear the session cookie. This log off button is called via a server action on a page which requires an authenticated user session.

So when clicking Log Off first next-auth set the session cookie the its renewed value. After this the Log off Server Action runs, which clears the cookie, resulting in 2 set-cookie headers for the same cookie name.

It's true that only 1 wins, but if the domain is the same the behaviour which one wins is undefined and might differ per browser (or so I read). So it still seems a good idea to only put the last set-cookie header in the response. Plus the slimmer response I mentioned.

Hi @nphmuller, are you able to update your repro to better highlight what isn't working, after adding in a middleware matcher?

I changed the code to set the `middleware-repro` cookie in middleware, and then updated the server action to delete the cookie, and that worked correctly as well. Video is below.

https://github.com/user-attachments/assets/ef82ff7a-7ac3-44a4-81fa-495a96e094d2

Regarding duplicate `Set-Cookie` calls, I believe while this produces superfluous response headers, it conforms to spec, so I wouldn't quite classify it as a bug but rather a potentially worthwhile optimization. [RFC 6265 section 4.1.2](https://www.rfc-editor.org/rfc/rfc6265#section-4.1.2):
>  If the user agent receives a new cookie with the same cookie-name,
   domain-value, and path-value as a cookie that it has already stored,
   the existing cookie is evicted and replaced with the new cookie.
   Notice that servers can delete cookies by sending the user agent a
   new cookie with an Expires attribute with a value in the past.

However if you're noticing that's not the case in a particular browser or scenario, let me know and we can take a closer look at that. 

Regarding the `x-middleware-set-cookie` header - I believe this is consistent with other headers that signal middleware behavior (such as `x-middleware-rewrite` when using `NextResponse.rewrite` in middleware). 

Hi @ztanner, 

Updating and deleting of the cookies is working well. The repro was meant to demonstrate the duplicate headers in the response, not the cookie values being stored incorrectly.

Chrome seems to pick the last set-cookie header with the same key, and uses that value. But it might be a bit dangerous to rely on this behaviour, as it might be browser specific and not according to spec:

> Servers SHOULD NOT include more than one Set-Cookie header field in
   the same response with the same cookie-name.  (See [Section 5.2](https://www.rfc-editor.org/rfc/rfc6265#section-5.2) for
   how user agents handle this case.)

  >  If a server sends multiple responses containing Set-Cookie headers
   concurrently to the user agent (e.g., when communicating with the
   user agent over multiple sockets), these responses create a "race
   condition" that can lead to unpredictable behavior.

But functionally it seems to be working in the major browsers I've tested.

What I mostly meant as a bug here is that it's not according to spec, and it inflates the response size (if I updated the value multiple times with large values, there would be 2 large set-cookie headers instead of only one).

That last reason is also why I mentioned the x-middleware-set-cookie header. It also inflates the response size. Although it's technically not a bug, as it's behaviour is defined by Next. Is there a use case for exposing the `x-middleware-` headers in the final response that the browser receives? Or is it mainly a side-effect of it's current implementation? 

And it's a fair point that the increased response size is not a bug, but an optimisation of course.

One more example: I am working on an app that uses quite a big session cookie. Including it twice in the response (either as a duplicate `set-cookie`, or as an `x-middleware-set-cookie` header) would cause the response header size to exceed 8KB, which causes the response to be blocked by major proxy services like Akamai.

Of course you can make the point that the session cookie shouldn't be close to that big. But the new `x-middleware-set-cookie` header being in the final response that's send to the browser breaks our app because of this.

I just reread my original post and I think I described the "Expected behavior" part very badly and confusing, so I just rewrote it a bit. Sorry!

@nphmuller got it - makes a lot more sense to me now! I'll dig in to see if we can cull the multiple `Set-Cookie` headers alongside the `x-middleware-set-cookie`

@ztanner I'd like to work on this issue, however, it is not clear from the conversation here that which cookie we want to give precedence to when merging the existing cookies with the ones set by the middleware. The code to merge middleware cookies is here: https://github.com/vercel/next.js/blob/6599b32ff9113b7a328b5e6e741f222dfbd1dec0/packages/next/src/server/async-storage/with-request-store.ts#L88-L110

Once we decide which cookie source to give precedence to (middleware or the existing ones), the fix should be straightforward.

Also, to my understanding (by looking in the code), the `x-middleware-set-cookie` header is only used in the next-server to eventually merge cookies. This is not required by the frontend, so it can be safely removed.

Sounds good @abhi12299! Indeed, `x-middleware-set-cookie` can be safely filtered from the response as it's not used by the client.

> it is not clear from the conversation here that which cookie we want to give precedence to when merging the existing cookies with the ones set by the middleware. 

The order should be in the order of execution. The order of execution is defined [here](https://nextjs.org/docs/app/building-your-application/routing/middleware#matching-paths). In this case, `middleware` always runs before a server action, so if middleware sets `cookieA` and the server action also sets `cookieA`, the `set-cookie` header should only reflect the one from the server action. (This is also the observed behavior when actually reading the cookies via `cookies()`, we just want to avoid setting the same cookie twice in the response headers.)

Thanks for the clarification! Will raise a PR shortly! @ztanner 

Raised a PR with the tests. Please review @ztanner.

We're seeing the same problems you're raising @nphmuller. More response headers now being present causing our AWS App gateway to throw 502's.
Response headers exceeding 8kb

We're using Next + AWS Congito (Amplify).
https://docs.amplify.aws/nextjs/build-a-backend/server-side-rendering/#with-nextjs-pages-router

We have now worked around the issue by not allowing Amplify to refresh the tokens and pass back new set-cookie headers to the client.
After digging deep into Amplify we can see the issue lies at Next. Happy to find this thread! 😃 

@abhi12299 what's the current status on your PR, are you actively working on a fix to remove the `x-middleware-set-cookie` and overflowing headers?

@ztanner I take it that `x-middleware-set-cookie` could be removed? Do you know what the purpose for this header is? 

With next 15, i believe this PR is outdated and will need to raise a new one altogether. I couldn't get the `x-middleware-set-cookie` header to be removed as I couldn't find the right place to do so. I could raise a new PR copying over the deduplication logic for cookies, but would need some guidance from @ztanner or someone else from the core team regarding the `x-middleware...` header

We are seeing a similar problem when trying to upgrade from Next 15 RC 1 to stable.

To us this behavior occurs whenever we set cookies in the middleware (as described by @nphmuller) and then use `redirect` in a server component during that same request.

In these scenarios, we sometimes also experience 502s from our Ingress service. 
As an example, we might set token cookies in the middleware, but then decide to redirect a user to their dashboard in the server component.

@ztanner Does this make sense to you as well? Do you have an idea why a `redirect` now leads to these cookies being duplicated in 15.0.0-15.0.3, while it didn't in RC1 ?

Using Next 14.2.9 we still see the extra `x-middleware-set-cookie` header

Removing this in our middleware seems to remove the header from the response. 
```
const response = NextResponse.next();

const xMiddlewareCookies = response.headers.get("x-middleware-set-cookie");
if (xMiddlewareCookies) {
  response.headers.delete("x-middleware-set-cookie");
}
```

Is this safe is the question? @ztanner 

This issue remains present in Next.js 16. We have the same issue: a middleware that renews the cookie and an action that updates it. However, the action is always ignored because the middleware cookie always takes precedence.